@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-brand-900: #0f172a; /* Slate 900 */
  --color-brand-800: #1e293b; /* Slate 800 */
  --color-brand-50:  #f8fafc; /* Slate 50 */
  --color-gold-500:  #cda34f; /* Custom Institutional Gold */
  --color-gold-600:  #b68c3e;
}

body {
  @apply font-sans bg-brand-50 text-brand-900 antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
